.book-box.flex
  .book-image.flex
    img.wishlist-icon(src='./assets/heart-regular.svg')
    img.image(src='./assets/images.jpg' alt='book logo')
  h3 #{book.title}
  p by Michael Mosley
  .stars(style='--rating: 3.5;' aria-label='Rating of this product is 2.3 out of 5.')
  h4 Paperback
  h2 &#x20B9; 728
  a.add-to-cart.secondary-btn(href='#') Add to cart
  a.add-to-cart.primary-btn(href='#') Buy now